<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
                <div>
                    <h1>Workout Tracker</h1>
                </div>
            {{> sport-section}} {{> add-weight-modal}} {{> add-sport-modal}}
        </div>
    </div>
</div>