<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Profile</h1>
                <br/>
                <div id="personal-stats" class="col-md-6">
                    <div class="ProfileSection col-md-6">
                        <img id="ProfilePicture" src="../Images/test_profile.png">
                        <h3>Name: Player One</h3>
                        <p> Age: 404 yrs</p>
                        <p> Weight: 404 lbs</p>
                        <p> Height: 4' 04" </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="../Scripts/jquery-3.1.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../Scripts/bootstrap.js"></script>