/*
* Description: CSS for index
* @author :
* @version :
* Date : 
* Status : Incomplete
*/

#ProfilePicture{
    float: left;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin-right: 50px;
}

.ProfileSection{
    background-color: whitesmoke; 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 25px 25px 25px 25px;
    margin-top: 50px;
    margin-right: 25px;
    border-radius: 15px;
}



