/*
* Description: CSS for index
* @author :
* @version :
* Date : 
* Status : Incomplete
*/

#ProfilePicture{
    float: left;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin-right: 50px;
}



