<div class="modal fade" id="add-workout-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Add Workout</h3>
			<div class="modal-body">
				<div class="form-group">
					<label for="w-input-date">Date</label>
					<input type="text" class="form-control" id="w-input-date" placeholder="XX/XX/XX">
				</div>
				<div class="form-group">
					<label for="w-input-exercise">Exercise</label>
					<input type="text" class="form-control" id="w-input-exercise">
				</div>
				<div class="form-group">
					<label for="w-input-weight">Weight</label>
					<input type="text" class="form-control" id="w-input-weight">
				</div>
				<div class="form-group">
					<label for="w-input-sets">Sets</label>
					<input type="text" class="form-control" id="w-input-sets">
				</div>
				<div class="form-group">
					<label for="w-input-reps">Reps</label>
					<input type="text" class="form-control" id="w-input-reps"></input>
				</div>
			</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
				</div>
				<div class="btn-group btn-delete hidden" role="group">
					<button type="button" id="" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Cancel</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" id="save-workout" class="btn btn-default btn-hover-green" data-action="save" role="button">Save</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>