<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span class="glyphicon glyphicon-scale logo"></span>
        </li>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="./profile">Profile</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</div>