<tr>
    <td>{{date}}</td>
    <td>{{distance}}</td>
    <td>{{time}}</td>
    <td>{{intensity}}</td>
    <td>
        <button class="btn btn-danger btn-xs pull-right Delete-Row-Sport" >Delete Exercise</button>
    </td>
</tr>