<!DOCTYPE html>
<html>
{{> head}}

<body>
    <div id="wrapper" class="toggled">
        {{> sidebar-menu}} {{{body}}}
    </div>

    <!-- jQuery -->
    <script src="../Scripts/jquery-3.1.1.js"></script>

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="moment/min/moment.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script  src="eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../Scripts/bootstrap.js"></script>

    <!-- Custom Scripts -->
    <script src="../Scripts/index.js"></script>
</body>

</html>